" Keymaps
let g:mapleader = " "

nnoremap <leader>pv :Ex<CR>

vnoremap J :m '>+1<CR>gv=gv
vnoremap K :m '<-2<CR>gv=gv

nnoremap <C-d> <C-d>zz
nnoremap <C-u> <C-u>zz

nnoremap { {zz
nnoremap } }zz

nnoremap n nzz
nnoremap N Nzz

xnoremap <leader>p "_dp

nnoremap <leader>y "+y
vnoremap <leader>y "+y
nnoremap <leader>Y "+Y

inoremap <C-c> <Esc>

nnoremap Q <nop>

nnoremap <C-k> <C-w>k
nnoremap <C-j> <C-w>j
nnoremap <C-h> <C-w>h
nnoremap <C-l> <C-w>l
nnoremap <C-w><C-q> :q<CR>

nnoremap [[ <NOP>
nnoremap ]] <NOP>

" Options
set number
set relativenumber

set smartindent
set nowrap
set noswapfile

set nohlsearch
set incsearch

set termguicolors
set background=dark
set signcolumn=yes

set scrolloff=6
set signcolumn=yes
set isfname+=@-@

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'


"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
" Opens edit files menu
map <leader>e :action com.ofya.jvroom.actions.EditFilesAction<CR>

" Adds a file to the list
map <leader>a :action com.ofya.jvroom.actions.AddFileAction<CR>
